{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}


    <div class="mkt-s1">
        <div class="mkt-s1-body container ">
            <div class="row">
                <h1 class="col-md-8">Some text here</h1>
            </div>
            <div class="row">
                <p class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="row">
                {# First Signup Link #}
                <a href=""
                   class="sign-up btn btn-success">To Home
                </a>
            </div>
        </div>
    </div>

    <div class="mkt-s2 container">
    <h2 class="mkt-s2-h">Some another text here</h2>
    <div class="mkt-s2-body">
        <div class="col-md-4 mkt-vp">
            <img class="" src="{{ STATIC_URL }}images/home.ico"/>
            <h5>Save Time</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-4 mkt-vp">
            <img class="" src="{{ STATIC_URL }}images/home.ico"/>
            <h5>Stay Current</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-4 mkt-vp">
            <img class="" src="{{ STATIC_URL }}images/home.ico"/>
            <h5>Win Business</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    {# Second Signup Link #}
    <a href="" class=" sgn-btm ">Demo django-easy-login</a>
</div>

{% endblock content %}
